@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";
// @import "~bulma/bulma.sass";
// .navbar-container {
//   disl
// }

// body { 
//   background-image: url(../images/binge-movies-bg-1.jpg);
//   background-size: ;
//   background-repeat: repeat;
//   height: auto;
// }

.main {
  display: flex;
  flex-direction: row;
  background-image: url(../images/binge-movies-bg-1.jpg);
  background-size: contain;
  background-repeat: repeat;

}

.welcome {
  font-size: 28px;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-weight: normal;
  letter-spacing: 15px;
}

.uk-button-small {

  background-color: rgb(176, 23, 54);

}

.movie-cards {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.uk-button-secondary {
  margin: 10px 5px;
  text-align: center;

  font-size: 10px;
  padding: 0, 5px;


}


.binge-logo {
  width: 400px;
}

.binge-logo-home {
  width: 450px;
}

.topten-container {
  margin-top: 80px;
}

.topten {
  margin-top: 30px;
  font-size: 42px;
  font-style: italic;
  font-weight: lighter;
  background-color: rgba(0, 0, 0, 0.61);
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
}

.marathon {
  margin: 30px;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}

.topten-movies {
  display: flex;
  justify-content: center;
}

.marathon-info {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}

.genre-filters {
  display: flex;
  justify-content: center;
}

.movie-card {
  display: inline;
  .marathon-images {
    margin: 10px;
    max-width: 200px;
    height: auto;
  }
}

.topten-movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie {
  display: flex;
  width: 4000px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.form-container {
  margin: 30px;
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
  background-color: rgba(255, 0, 0, 0.267);
  color: #ffffff;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.control {
  color: black;
}

.create-binge {
  font-size: 22px;
  font-weight: bold;
}

.label {
  color: white;
}

.label-movies {
  color: white;
  font-size: 14px;
  font-weight: normal;
}

.splash-container {
  margin-top: 70px;
}

.splash-text {
  font-size: 28px;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-weight: normal;
  letter-spacing: 15px;
  margin-top: -170px;
}

.movie-index {
  margin: 30px;
  font-size: 28px;
  text-transform: capitalize;
  font-style: italic;
  font-weight: lighter;
  color: #ffffff;
}

.movie {
  flex-wrap: wrap;
  display: inline-block;
  flex-direction: column;
  .posters {
    max-width: 200px;
  }
}

.uk-card {
  background-color: rgba(0, 0, 0, 0.452);
  color: white;
  width: 150px;
  height: 150px;
}

.movie {

  justify-content: center;

}
.title {
  color: white;
  font-size: 20px;
}

#hideme {
  display: none;
}

// .movie {
//   flex-wrap: wrap;
//   display: inline-block;
//   flex-direction: column;

//   .posters {
//     max-width: 200px;
//   }
// }

#hideme {
  display: none;
}

.user-section {
  h2 {
    color: white;
  }
  color: white;
}

#movieinfo {
  h2 {
    color: white;
  }
  color: white;
}

#movieprofilecard {
  background-color: black;
  padding: 20px;
  
}

//! Come back to this!

// .hiding {
//   display: none;
// }

// .showing:hover + .hiding {
//     display: inline-block;
// }