@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";
// @import "~bulma/bulma.sass";
// .navbar-container {
//   disl
// }

.main {
  display: flex;
  flex-direction: row;
  background-image: url(../images/binge-movies-bg-1.jpg);
  background-size: cover;
  height: 800px;
}

.welcome {
  font-size: 28px;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-weight: normal;
  letter-spacing: 15px;
}

.binge-logo {
  width: 400px;
}

.binge-logo-home {
  width: 450px;
}

.topten {
  margin: 30px;
  font-size: 28px;
  text-transform: capitalize;
  font-style: italic;
  font-weight: lighter;
  background-color: rgba(0, 0, 0, 0.61);
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}

.form-section {
  margin: 30px;
  font-size: 28px;
  text-transform: capitalize;
  font-style: italic;
  font-weight: lighter;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}

.create-binge {
  font-size: 22px;
  font-weight: bold;
}

.label {
  color: white;
}

.label-movies {
  color: white;
  font-size: 14px;
  font-weight: normal;
}

.splash-container {
  margin-top: 70px;
}

.splash-text {
  font-size: 28px;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-weight: normal;
  letter-spacing: 15px;
  margin-top: -170px;
}

.movie-index {
  margin: 30px;
  font-size: 28px;
  text-transform: capitalize;
  font-style: italic;
  font-weight: lighter;
  color: #ffffff;
}

.movie {
  flex-wrap: wrap;
  display: inline-block;
  flex-direction: column;
  .posters {
    max-width: 200px;
  }
}

.uk-card {
  background-color: rgba(0, 0, 0, 0.452);
  color: white;
}

.movie {
  flex-wrap: wrap;
  display: inline-block;
  flex-direction: column;

  .posters {
    max-width: 200px;
  }
}

//! Come back to this!

// .hiding {
//   display: none;
// }

// .showing:hover + .hiding {
//     display: inline-block;
// }
